.org-details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.org-header {
  display: flex;
  gap: 1rem;
  align-items: center;

  enclave-avatar {
    --enclave-avatar-width: 2.5rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .org-header-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .org-name {
      font-size: 1.5rem;
      font-weight: 400;
    }

    .org-info {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 1rem;

      span {
        font-family: var(--font-mono);
        font-weight: 400;

        color: var(--color-text-muted);
      }
    }

    enclave-status {
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
}
