<div class="org-details-container">
  <enclave-details-header
    [title]="org().name"
    [showTitleAvatar]="true"
    [subTitle]="primaryContact()?.email"
    [status]="org().status"
  />

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" enclavePersistentTab>
    <mat-tab label="Info">
      <div class="tab-content">
        <enclave-detail-card actionButtonIcon="edit" actionButtonText="Edit">
          <div class="org-info">
            <enclave-detail-list>
              <enclave-detail-row label="Name">{{ org().name }}</enclave-detail-row>
              <enclave-detail-row label="Primary Contact Email">
                {{ primaryContact()?.email }}
              </enclave-detail-row>
              <enclave-detail-row label="Status">
                <enclave-status [status]="org().status" />
              </enclave-detail-row>
              <enclave-detail-row label="Id">
                {{ org().id }}
              </enclave-detail-row>
            </enclave-detail-list>
          </div>
        </enclave-detail-card>
      </div>
    </mat-tab>

    <mat-tab label="Licenses">
      <ng-template mat-tab-label>
        <div class="licenses-tab-label">
          <span>Licenses</span>
          @if (licenseCount()) {
            <span class="license-count">{{ licenseCount() }}</span>
          }
        </div>
      </ng-template>

      <div class="tab-content">
        <div class="license-tab-header">
          <span class="license-tab-header-text">{{ `${licenseCount()} licenses` }}</span>
          <button matButton>
            <div class="primary-action-button">
              <ensy-labs-icon name="add" />
              <span>Issue license</span>
            </div>
          </button>
        </div>

        <table
          mat-table
          [dataSource]="licensesDataSource()"
          class="licenses-table"
          matSort
          #licenseSort="matSort"
          enclavePersistentSort
          sortQueryParamName="licenseSort"
          [sortableColumns]="['product', 'status', 'end', 'timeLeft']"
        >
          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
            <td mat-cell *matCellDef="let element">
              <div class="product-name">
                <enclave-avatar [name]="element.product" />
                <a [routerLink]="['/admin/products', element.productId]">
                  <span>{{ element.product }}</span>
                </a>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              <div class="license-status">
                <enclave-status [status]="element.status" />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Date</th>
            <td mat-cell *matCellDef="let element">
              <div class="license-expiry-date">
                <span>
                  @if (element.status === 'Active' || element.status === 'Expired') {
                    {{ element.end | date: 'd MMM y' : 'UTC' }}
                  } @else {
                    -
                  }
                </span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="timeLeft">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Left</th>
            <td mat-cell *matCellDef="let element">
              <div class="license-time-left">
                @if (element.status === 'Active') {
                  <enclave-time-left [startDate]="element.start" [endDate]="element.end" />
                } @else {
                  -
                }
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="license-actions">
                <ensy-labs-icon name="edit" />
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="licensesDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: licensesDisplayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [colSpan]="licensesDisplayedColumns.length">
              No licenses yet. Press the "Issue license" button above to add one.
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Users">
      <ng-template mat-tab-label>
        <div class="users-tab-label">
          <span>Users</span>
          @if (userCount()) {
            <span class="user-count">{{ userCount() }}</span>
          }
        </div>
      </ng-template>

      <div class="tab-content">
        <div class="user-tab-header">
          <span class="user-tab-header-text">{{ `${userCount()} users` }}</span>
          <button matButton>
            <div class="primary-action-button">
              <ensy-labs-icon name="invite-user" />
              <span>Invite user</span>
            </div>
          </button>
        </div>

        <table
          mat-table
          [dataSource]="usersDataSource()"
          class="users-table"
          matSort
          #userSort="matSort"
          enclavePersistentSort
          sortQueryParamName="userSort"
          [sortableColumns]="['name', 'email', 'role', 'status']"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="user-name">
                <enclave-avatar [name]="element.name" />
                <span>{{ element.name }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">
              <div class="user-email">
                <span>{{ element.email }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
            <td mat-cell *matCellDef="let element">
              <div class="user-role">
                <span>{{ element.role }}</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              <div class="user-status">
                <enclave-status [status]="element.status" />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button class="user-actions">
                <ensy-labs-icon name="edit" />
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="usersDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: usersDisplayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [colSpan]="usersDisplayedColumns.length">
              No users yet. Press the "Invite user" button above to add one.
            </td>
          </tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
