<enclave-page-header
  title="Licenses"
  [subTitle]="`${activeLicenseCount()} active`"
  actionText="Issue license"
  actionIcon="add"
/>

<enclave-search-bar-filter searchPlaceholder="Search Licenses" />

<div class="licenses-table-container">
  <table
    mat-table
    [dataSource]="licenseDataSource()"
    class="licenses-table"
    matSort
    enclavePersistentSort
    [sortableColumns]="['organization', 'product', 'status', 'end', 'timeLeft']"
  >
    <ng-container matColumnDef="organization">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization</th>
      <td mat-cell *matCellDef="let element">
        <div class="org-name">
          <enclave-avatar [name]="element.organization" />
          <a [routerLink]="['/admin/organizations', element.orgId]">
            <span>{{ element.organization }}</span>
          </a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
      <td mat-cell *matCellDef="let element">
        <div class="product-name">
          <enclave-avatar [name]="element.product" />
          <a [routerLink]="['/admin/products', element.productId]">
            <span>{{ element.product }}</span>
          </a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        <div class="license-status">
          <enclave-status [status]="element.status" />
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Date</th>
      <td mat-cell *matCellDef="let element">
        <div class="license-expiry-date">
          <span>
            @if (element.status === 'Active' || element.status === 'Expired') {
              {{ element.end | date: 'd MMM y' : 'UTC' }}
            } @else {
              -
            }
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="timeLeft">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Left</th>
      <td mat-cell *matCellDef="let element">
        <div class="license-time-left">
          @if (element.status === 'Active') {
            <enclave-time-left [startDate]="element.start" [endDate]="element.end" />
          } @else {
            -
          }
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <enclave-more-actions-menu
          [elementName]="`${element.organization}_${element.product}`"
          class="license-actions"
        >
          <button mat-menu-item [routerLink]="['/admin/licenses', element.id]">
            <div>
              <ensy-labs-icon name="details" />
              <span>Details</span>
            </div>
          </button>
          <button mat-menu-item>
            <div>
              <ensy-labs-icon name="edit" />
              <span>Edit</span>
            </div>
          </button>
        </enclave-more-actions-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [colSpan]="displayedColumns.length">
        @if (licenseSearch().searchText()) {
          No data matching the search term "{{ licenseSearch().searchText() }}".
        } @else {
          No licenses yet. Press the "Issue license" button above to add one.
        }
      </td>
    </tr>
  </table>
</div>
