.enclave-detail-card {
  --mat-card-outlined-container-color: var(--color-card);
  --mat-card-outlined-outline-color: var(--color-border);

  --enclave-detail-card-header-vert-padding: 0.5rem;
  --enclave-detail-card-band-min-height: 2rem;
  --enclave-detail-row-min-height: var(--enclave-detail-card-band-min-height);

  mat-card-header {
    padding: var(--enclave-detail-card-header-vert-padding) 1rem;
    min-height: calc(
      var(--enclave-detail-card-header-vert-padding) * 2 +
        var(--enclave-detail-card-band-min-height)
    );
    display: flex;
    align-items: center;
  }

  mat-card-content {
    padding: 0rem;

    .enclave-detail-card-content {
      padding: 0.5rem 0;
    }
  }

  mat-card-actions {
    min-height: 0;

    .card-action-button {
      --mat-button-text-container-height: var(--enclave-detail-card-band-min-height);

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        justify-content: right;
        color: var(--color-text);

        span {
          align-content: center;
        }
      }
    }
  }
}

mat-divider {
  margin: 0;
}
