:host {
  --enclave-status-color: var(--color-primary);
  --enclave-status-background-color: transparent;
  --enclave-status-icon-color: var(--enclave-status-color);
  --enclave-status-border-color: var(--enclave-status-color);
  --enclave-status-text-color: var(--enclave-status-color);

  display: block;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.25rem 3rem;
  border: 1px solid var(--enclave-status-border-color);
  background-color: var(--enclave-status-background-color);
  border-radius: 0.25rem;
  color: var(--enclave-status-text-color);
  text-transform: uppercase;

  .status-icon {
    --ensy-labs-icon-width: 0.5rem;
    --ensy-labs-icon-height: 1rem;
    --ensy-labs-icon-color: var(--enclave-status-icon-color);

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
