<div class="products-header">
  <div class="header-left">
    <span class="page-name">Products</span>
    <span class="page-overview"
      >{{ productsCount() }} in the catalogue - {{ activeProductsCount() }} active</span
    >
  </div>
  <div class="header-right">
    <button matButton>
      <div class="add-product">
        <ensy-labs-icon matPrefix name="add" />
        <span>Create Product</span>
      </div>
    </button>
  </div>
</div>

<div class="products-search">
  <mat-form-field>
    <ensy-labs-icon matPrefix name="search" />
    <input
      id="product-search-input"
      aria-label="Search Products"
      autocomplete="off"
      (keyup)="applyProductFilter($event)"
      placeholder="Search Products"
      type="text"
      [value]="searchTerm()"
      matInput
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="productsDataSource()" class="products-table" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td
      mat-cell
      *matCellDef="let element"
      [class.retired]="element.status === 'Retired'"
      [class.upcoming]="element.status === 'Upcoming'"
    >
      <div class="product-name">
        <span class="product-name-icon">{{ element.name[0] }}</span>
        <span>{{ element.name }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td
      mat-cell
      *matCellDef="let element"
      [class.retired]="element.status === 'Retired'"
      [class.upcoming]="element.status === 'Upcoming'"
    >
      <div class="product-description">
        <span>
          @if (element.description) {
            {{ element.description }}
          } @else {
            <i>No description</i>
          }
        </span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td
      mat-cell
      *matCellDef="let element"
      [class.retired]="element.status === 'Retired'"
      [class.upcoming]="element.status === 'Upcoming'"
    >
      <div class="product-status">
        <enclave-status>{{ element.status }}</enclave-status>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td
      mat-cell
      *matCellDef="let element"
      [class.retired]="element.status === 'Retired'"
      [class.upcoming]="element.status === 'Upcoming'"
    >
      <div class="product-actions">
        <button
          matIconButton
          [matMenuTriggerFor]="productActionsMenu"
          [attr.aria-label]="element.name + ' actions'"
        >
          <ensy-labs-icon name="more-horizontal" color="var(--color-text)" />
        </button>

        <mat-menu #productActionsMenu class="product-action-menu">
          <button mat-menu-item>
            <div>
              <ensy-labs-icon name="edit" color="var(--color-text)" />
              <span>Details</span>
            </div>
          </button>
          <button mat-menu-item>
            <div>
              <ensy-labs-icon name="edit" color="var(--color-text)" />
              <span>Edit</span>
            </div>
          </button>
          <button mat-menu-item>
            <div>
              <ensy-labs-icon name="delete" color="var(--color-text)" />
              <span>Delete</span>
            </div>
          </button>
        </mat-menu>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [colSpan]="displayedColumns.length">
      @if (searchTerm()) {
        No data matching the search term "{{ searchTerm() }}".
      } @else {
        No products yet. Press the "Create Product" button above to add one.
      }
    </td>
  </tr>
</table>
