@use '@angular/material' as mat;

.products-search {
  padding: 1rem 0;

  mat-form-field {
    --mat-form-field-filled-container-color: var(--color-card);
    --mat-form-field-filled-active-indicator-color: var(--color-border);
    width: 18rem;
    border: 1px solid var(--color-border);

    @include mat.form-field-density(-5);

    ::ng-deep .mat-mdc-form-field-icon-prefix {
      padding-left: 0.5rem;
    }

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.products-table {
  border: 1px solid var(--color-border);
  background-color: var(--color-card);

  table-layout: fixed;
  .mat-column-name {
    width: 20%;
  }
  .mat-column-description {
    width: 54%;
  }
  .mat-column-status {
    width: 25%;
  }
  .mat-column-action {
    width: 1%;
  }

  th {
    font-family: var(--font-mono);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-text-muted);
  }

  .retired {
    color: var(--color-text-muted);
  }

  .upcoming {
    color: var(--color-primary);
  }

  .product-name {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;

    .product-name-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      background-color: var(--color-border);
      border-radius: 0.25rem;
      text-transform: uppercase;
      color: var(--color-secondary-text);
      font-weight: 600;
    }
  }

  enclave-status {
    --enclave-status-background-color: var(--color-bg);
  }

  td enclave-status {
    --enclave-status-color: var(--color-secondary);
  }

  td.retired enclave-status {
    --enclave-status-color: var(--color-text-muted);
    --enclave-status-border-color: var(--color-border);
  }

  td.upcoming enclave-status {
    --enclave-status-color: var(--color-primary);
  }

  .product-actions {
    visibility: hidden;
  }

  tr:hover .product-actions,
  tr:focus-within .product-actions {
    visibility: visible;
  }
}
