.enclave-page-header {
  display: flex;
  justify-content: space-between;

  .header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .page-title {
      font-size: 2rem;
      font-weight: 600;
    }

    .page-subtitle {
      font-family: var(--font-mono);
      color: var(--color-text-muted);
    }
  }

  .header-right {
    justify-content: center;
    align-content: center;

    button {
      color: var(--color-text);
      border-radius: 0.5rem;

      ensy-labs-icon {
        color: var(--color-text);
      }

      .primary-action-button {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 0.25rem;

        span {
          align-content: center;
        }
      }
    }
  }
}
