:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.products-table-container {
  flex: 0 1 auto;
  max-height: 100%;
  overflow: auto;
  border: 1px solid var(--color-border);
  background-color: var(--color-card);
}

.products-table {
  table-layout: fixed;
  .mat-column-name {
    width: 20%;
  }
  .mat-column-description {
    width: 54%;
  }
  .mat-column-status {
    width: 25%;
  }
  .mat-column-action {
    width: 1%;
  }

  th {
    font-family: var(--font-mono);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-text-muted);

    &[mat-sort-header] {
      user-select: none;
    }
  }

  .retired {
    color: var(--color-text-muted);
  }

  .upcoming {
    color: var(--color-primary);
  }

  .product-name {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;

    enclave-avatar {
      font-weight: 600;
    }
  }

  enclave-status {
    --enclave-status-background-color: var(--color-bg);
  }

  td enclave-status {
    --enclave-status-color: var(--color-secondary);
  }

  tr.retired enclave-status {
    --enclave-status-color: var(--color-text-muted);
    --enclave-status-border-color: var(--color-border);
  }

  tr.upcoming enclave-status {
    --enclave-status-color: var(--color-primary);
  }

  .product-actions {
    visibility: hidden;
  }

  tr:hover .product-actions,
  tr:focus-within .product-actions {
    visibility: visible;
  }
}
