:host {
  --ensy-labs-icon-size: 1.5rem;
  --ensy-labs-icon-width: var(--ensy-labs-icon-size);
  --ensy-labs-icon-height: var(--ensy-labs-icon-size);

  display: inline-block;
  width: var(--ensy-labs-icon-width);
  height: var(--ensy-labs-icon-height);
}

mat-icon.mat-icon-no-color {
  color: var(--ensy-labs-icon-color, currentColor);
}

mat-icon.ghost ::ng-deep svg * {
  fill: none;

  stroke: var(--ensy-labs-icon-color, currentColor);
  stroke-width: var(--ensy-labs-icon-stroke-width, 1.5);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: var(--ensy-labs-icon-stroke-dasharray, 2.5rem 1rem);
}
