<div class="app-header">
  <div class="app-header-left">
    <button matIconButton (click)="toggleSidenav.emit()" aria-label="Toggle navigation">
      <ensy-labs-icon name="sidenav" />
    </button>

    <div class="breadcrumb">
      <span>Enclave</span>
      @if (section()) {
        <span>/</span>
        <span>{{ section() }}</span>
      }
      @if (breadcrumb()) {
        @for (crumb of breadcrumb(); track crumb) {
          <span>/</span>
          <span>{{ crumb }}</span>
        }
      }
    </div>
  </div>

  <div class="app-header-right">
    <button matIconButton (click)="themeService.toggle()" aria-label="Toggle theme">
      @if (themeService.theme() === 'dark') {
        <ensy-labs-icon name="moon" />
      } @else {
        <ensy-labs-icon name="sun" />
      }
    </button>

    <mat-divider vertical />
    <div class="user-info">
      <enclave-avatar class="user-avatar" [name]="userName" [maxInitials]="2" />

      <div class="user-details">
        <div class="user-name">{{ userName }}</div>
        <div class="user-role">{{ userRole }}</div>
      </div>
      <button matIconButton aria-label="Expand user menu">
        <ensy-labs-icon name="chevrons-up-down" />
      </button>
    </div>
  </div>
</div>

<mat-divider />
