ensy-labs-icon {
  --ensy-labs-icon-color: var(--color-text);
}

::ng-deep .more-actions-menu {
  ensy-labs-icon {
    --ensy-labs-icon-color: var(--color-text);
  }

  .mat-mdc-menu-item div {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;

    span {
      align-content: center;
    }
  }
}
